%h2.duplicate-quotes-warning Possible duplicate quotes:

- duplicates.each do |unsaved, saved|
  .duplicate-box
    .duplicate-quotes-confirm.hide
      %img.center{:src => '/images/ajax-loader.gif'}
    .duplicate-quotes-cancel.hide
      %h4.title= truncate_content unsaved
      .cancel.btn.btn-default Cancel
    .duplicate-quotes-holder{data: {quote: quote_to_json(unsaved), path: new_quote_path}}
      .unsaved-quote.quote
        %blockquote= unsaved.content
      %h3
        = "is awfully close to the following previously added quote from #{unsaved.title} by #{unsaved.author}:"
      .saved-quote.quote
        %blockquote= saved.content
    .duplicate-quotes-btn-holder
      .remove-duplicate-quote.btn.btn-danger Do not add this quote
      .add-duplicate-quote.btn.btn-success Add this quote
